{% extends 'AppBundle::layout.html.twig' %}
{% import 'AppBundle::macros.html.twig' as _ %}

{% block content %}
    <div class="row">
        <div class="column wide sixteen">
            <div class="ui steps">
                <div class="content">
                    <a href="{{ url('homepage') }}">
                        <div class="logo logo-breadcrumb"></div>
                    </a>
                </div>
                {{ _.step(project.name, 'Project', 'icon cubes', '') }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="eleven wide column">
            <div class="ui segment">

                <div class="ui secondary pointing menu">
                    <a class="item active" data-tab="newsstream">
                        <i class="rss icon"></i> Newsstream
                    </a>
                    <a class="item" data-tab="mergerequest">
                        <i class="horizontally flipped alternate share icon"></i> Merge Request
                    </a>
                    <a class="item" data-tab="branches">
                        <i class="fork icon"></i> Branches
                    </a>
                    <a class="item" data-tab="tags">
                        <i class="tag icon"></i> Tags
                    </a>

                </div>

                <div class="ui tab active" data-tab="newsstream">
                    {% include 'AppBundle::feed.html.twig' with {items: news_stream_items} %}
                </div>

                <div class="ui tab" data-tab="mergerequest">
                    {% include 'AppBundle:Project:mergeRequests.html.twig' with {merge_requests: merge_requests} %}
                </div>

                <div class="ui tab" data-tab="branches">
                    {% include 'AppBundle:Project:showBranches.html.twig' with {merge_requests: merge_requests} %}
                </div>

                <div class="ui tab" data-tab="tags">
                    {% include 'AppBundle:Project:showTags.html.twig' with {merge_requests: merge_requests} %}
                </div>

            </div>
        </div>
        <div class="five wide column">

            <div class="ui header attached top small">
                <i class="icon alternate cubes"></i>
                {{ project.name }}
            </div>

            <div class="ui segment attached">
                <a href="{{ project.repositoryUrl }}" target="_blank">
                    <i class="sitemap icon"></i>
                    {{ project.repositoryUrl }}
                </a>
            </div>

            {% if project.webUrl %}
                <div class="ui segment attached">
                    <a href="{{ project.webUrl }}" target="_blank">
                        <i class="sitemap icon"></i>
                        {{ project.webUrl }}
                    </a>
                </div>
            {% endif %}

            <div class="ui header attached top small">
                <i class="icon text file"></i>
                Last 10 commits
            </div>

            {% for commit in project_commits|slice(0,10) %}
                <div class="ui segment attached">
                    <a href="{{ path('commit_show', {id: commit.id}) }}">{{ commit.revision|slice(0,8) }}</a>
                    <span class="ellipsis" style="width:3em">{{ commit.commitMessage }}</span>
                    by {{ commit.authorName|default("unknown") }}
                    {% if commit.authorEmail %}&lt;{{ commit.authorEmail }}&gt;{% endif %}
                    <div style="float: right">
                        {% if commit.status == constant('STATUS_NEW', commit) %}
                            <span class="ui label right">New</span>
                        {% elseif commit.status == constant('STATUS_RUN', commit) %}
                            <span class="ui yellow label right">Proccess</span>
                        {% elseif commit.status == constant('STATUS_SUCCESS', commit) %}
                            <span class="ui green label right">Success</span>
                        {% else %}
                            <span class="ui red label right">Error</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
