{% import 'AppBundle::macros.html.twig' as _ %}

<table class="ui very basic collapsing celled table">
    <tbody>
    {% for item in items %}
        {% set commit = item.commit %}
        <tr>
            <td class="top aligned">
                <div class="ui ribbon label">
                    <a href="{{ path('project_show', {id: item.project.id}) }}">{{ item.project.name }}</a>
                </div>
                <div>
                    {% if item.type == 'branch' %}
                        <i class="fork icon"></i>
                        <a href="{{ path('branch_show', {id: item.branch.id }) }}">branch {{ item.branch.name }}</a>
                    {% elseif item.type == 'tag' %}
                        <i class="tag icon"></i>
                        <a href="{{ path('commit_show', {id: commit.id}) }}">tag {{ item.tag.name }}</a>
                    {% elseif item.type == 'merge_request' %}
                        <i class="horizontally flipped alternate share icon"></i>
                        <a href="{{ path('mergerequest_show', {id: item.mergeRequest.id }) }}">
                            merge request {{ item.mergeRequest.name }}
                        </a>
                    {% endif %}
                </div>
            </td>
            <td>
                <div>
                    <img class="commit-gravatar" src="{{ gravatar(commit.authorEmail, 16) }}"
                         alt="{{ commit.authorName }}">
                    {{ commit.authorName }}
                </div>
                <div>{{ commit.commitMessage }}</div>
            </td>
            <td>
                {% if commit.issues|length > 0 %}
                    {{ _.levels(commit) }}<br/>

                    <i class="plug icon"></i>
                    {% set groups = group_issues(commit.issues) %}
                    {% for gadget,issues in groups.gadget %}
                        {{ gadget }}
                    {% endfor %}
                {% endif %}
            </td>
            <td>
                <div><i class="calendar icon"></i> {{ item.createdAt|date('H:i Y-m-d') }}</div>
                <div>
                    <a href="{{ path('commit_show', {id: commit.id}) }}">
                        <i class="github icon"></i>&nbsp;{{ commit.revision|slice(0, 8) }}
                    </a>
                </div>
            </td>
            <td class="bottom aligned">
                {% if commit.status == constant('STATUS_NEW', commit) %}
                    <div class="ui label right">New</div>
                {% elseif commit.status == constant('STATUS_RUN', commit) %}
                    <div class="ui yellow label right">Proccess</div>
                {% elseif commit.status == constant('STATUS_SUCCESS', commit) %}
                    <div class="ui green label right">Success</div>
                {% else %}
                    <div class="ui red label right">Error</div>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>