{% import 'AppBundle::macros.html.twig' as _ %}

<div class="ui feed">
    {% for item in items %}
        <div class="event">
            <div class="label">
                {% if item.type == 'branch' %}
                <i class="fork icon"></i>
                {% elseif item.type == 'tag' %}
                <i class="tag icon"></i>
                {% elseif item.type == 'merge_request' %}
                <i class="horizontally flipped alternate share icon"></i>
                {% endif %}
            </div>
            <div class="content">
                <div class="date">{{ item.createdAt|date('H:i:s d.m.Y') }}</div>

                Project <a href="{{ path('project_show', {id: item.project.id}) }}">{{ item.project.name }}</a> has

                {% set commit = item.commit %}

                {% if commit.status == constant('STATUS_NEW', commit) %}
                    a new commit
                {% elseif commit.status == constant('STATUS_RUN', commit) %}
                    a running commit
                {% elseif item.commit.status == constant('STATUS_SUCCESS', commit) %}
                    a new commit result
                {% elseif item.commit.status == constant('STATUS_ERROR', commit) %}
                    a new broken commit
                {% endif %}

                <a href="{{ path('commit_show', {id: commit.id}) }}">{{ commit.revision|slice(0, 8) }}</a>

                {% if commit.issues|length > 0 %}
                    <div class="extra text">
                        {{ _.levels(commit) }}
                    </div>
                    <div class="meta">
                        {% set groups = group_issues(commit.issues) %}
                        {% for gadget,issues in groups.gadget %}
                        <a>{{ gadget }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
