<div class="ui styled accordion">
    {% for file,list in issues %}
        <div class="title">
            <div style="float: right">
                {{ _.levels_by_issues(list) }}
            </div>
            <i class="dropdown icon"></i>
            <i class="file icon"></i>
            {{ file }}
        </div>
        <div class="content">
            {% for issue in list %}
                <div class="ui top attached {{ issue|level_color }} message">
                    {% if issue.file and issue.line %}
                        <div class="ui top right attached label">
                            <a class="phpstorm"
                               href="http://localhost:8091/?message={{ issue.file }}:{{ issue.line }}">
                                <i class="lightning inverted circular icon"></i>
                            </a>
                            Line {{ issue.line }}
                        </div>
                    {% endif %}

                    <h4>
                        <i class="{{ issue|level_icon }} icon"></i>
                        {{ issue.gadget|upper }}
                        {{ issue.level|upper }}
                    </h4>

                    <p>{{ issue.title }}</p>
                </div>

                {% if issue.description is not empty %}
                    <div class="ui attached segment">
                        {{ issue.description|commonmark }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>