{% for message in phpcs %}
<div class="ui segment">
    <div class="ui top attached label ellipsis">
        <span class="right">L{{ message.line }}:C{{ message.column }}</span> {{ message.file|filter_workspace() }}
    </div>
    <div>
        <h4>{{ message.type|upper }} [{{ message.severity }}]: {{ message.message }}</h4>
        <p>{{ message.source }}</p>
        {{ highlight(message.file, message.line) }}
    </div>
</div>
{% endfor %}
