{% extends 'SimpleThingsAppBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="column wide sixteen">
        <div class="ui steps">
            <a class="step" href="{{ path('homepage') }}">
                <div class="content">
                    <div class="title"> <i class="icon home"></i> Home</div>
                    <div class="description">... where the <i class="icon heart"></i> is</div>
                </div>
            </a>
            <a class="step" href="{{ path('project_show', {id: commit.mergerequest.project.id }) }}">
                <div class="content">
                    <div class="title"> <i class="icon cubes"></i> Project</div>
                    <div class="description">id <strong>{{ commit.mergerequest.project.remoteId }}</strong></div>
                </div>
            </a>
            <a class="step" href="{{ path('mergerequest_show', {id: commit.mergerequest.id }) }}">
                <div class="content">
                    <div class="title"> <i class="share alternate icon"></i> MergeRequest</div>
                    <div class="description">id <strong>{{ commit.mergerequest.remoteId }}</strong></div>
                </div>
            </a>
            <a class="step active">
                <div class="content">
                    <div class="title"> <i class="icon file text"></i> Commit-Report</div>
                    <div class="description">rev <strong>{{ commit.revision }}</strong></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="column wide sixteen">
        <div class="ui segment">
            <pre>{{ dump(commit.result) }}</pre>
        </div>
    </div>
</div>
{% endblock %}
