{% extends 'SimpleThingsAppBundle::layout.html.twig' %}
{% import 'SimpleThingsAppBundle::macros.html.twig' as _ %}

{% block content %}
    <div class="row">
        <div class="column wide sixteen">
            <div class="ui steps">
                <a class="step" href="{{ path('homepage') }}">
                    <div class="content">
                        <div class="title"><i class="icon home"></i> Home</div>
                        <div class="description">... where the <i class="icon heart"></i> is</div>
                    </div>
                </a>
                <a class="step" href="{{ path('project_show', {id: commit.project.id }) }}">
                    <div class="content">
                        <div class="title"><i class="icon cubes"></i> Project</div>
                        <div class="description">{{ commit.project.name }}</div>
                    </div>
                </a>
                {% if commit.mergerequest %}
                    <a class="step" href="{{ path('mergerequest_show', {id: commit.mergerequest.id }) }}">
                        <div class="content">
                            <div class="title"><i class="share alternate icon"></i> MergeRequest</div>
                            <div class="description">{{ commit.mergerequest.name }}</div>
                        </div>
                    </a>
                {% else %}
                    <a class="step" href="{{ path('project_master', {id: commit.project.id }) }}" hidden="">
                        <div class="content">
                            <div class="title"><i class="sitemap alternate icon"></i> Master</div>
                            <div class="description">Master Branch</div>
                        </div>
                    </a>
                {% endif %}
                <a class="step active">
                    <div class="content">
                        <div class="title"><i class="icon file text"></i> Commit-Report</div>
                        <div class="description">rev <strong>{{ commit.revision|slice(0, 8) }}</strong></div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    {% if commit.status == constant('STATUS_NEW', commit) or commit.status == constant('STATUS_RUN', commit) %}
        <div class="row">
            <div class="column wide sixteen">
                <div class="ui icon warning message">
                    <i class="notched circle loading icon"></i>

                    <div class="content">
                        <div class="header">
                            Just a moment.. or two... or...
                        </div>
                        <p>Processing... refresh the page</p>
                    </div>
                </div>
            </div>
        </div>
    {% elseif commit.status == constant('STATUS_ERROR', commit) %}
        <div class="row">
            <div class="column wide sixteen">
                <div class="ui icon error message">
                    <i class="notched bug icon"></i>

                    <div class="content">
                        <div class="header">
                            Sorry about that, chief
                        </div>
                        <p>YOU have an ERROR! Ahhh...</p>
                    </div>
                </div>
            </div>
        </div>
    {% elseif commit.issues|length == 0 %}
        <div class="row">
            <div class="column wide sixteen">
                <div class="ui icon success message">
                    <i class="notched child icon"></i>

                    <div class="content">
                        <div class="header">
                            Congratulations, Gadget, I dont't know how you did it
                        </div>
                        <p>You have no issues!</p>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="column wide sixteen">
                <div class="ui icon yellow message">
                    <i class="emergency icon"></i>

                    <div class="content">
                        <div class="header">
                            Irregularities were found!
                        </div>
                        <p>Please help me...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column wide sixteen">
                <div class="ui segment">
                    <h3 class="ui header dividing">Issues ({{ commit.issues|length }})</h3>

                    <div class="ui styled accordion">
                        {% for file,list in issues %}
                            <div class="title">
                                <div style="float: right">
                                    {{ _.levels(list) }}
                                </div>
                                <i class="dropdown icon"></i>
                                <i class="file icon"></i>
                                {{ file }}
                            </div>
                            <div class="content">
                                {% for issue in list %}
                                    <div class="ui top attached
                                        {% if issue.level == constant('LEVEL_NOTICE', issue) %}
                                        blue
                                        {% elseif issue.level == constant('LEVEL_WARNING', issue) %}
                                        yellow
                                        {% elseif issue.level == constant('LEVEL_ERROR', issue) %}
                                        orange
                                        {% elseif issue.level == constant('LEVEL_CRITICAL', issue) %}
                                        red
                                        {% endif %}
                                        message">
                                        <h4>
                                            {% if issue.level == constant('LEVEL_NOTICE', issue) %}
                                                <i class="info icon"></i>
                                            {% elseif issue.level == constant('LEVEL_WARNING', issue) %}
                                                <i class="warning icon"></i>
                                            {% elseif issue.level == constant('LEVEL_ERROR', issue) %}
                                                <i class="bug icon"></i>
                                            {% elseif issue.level == constant('LEVEL_CRITICAL', issue) %}
                                                <i class="fire icon"></i>
                                            {% endif %}
                                            {{ issue.gadget|upper }}
                                            {{ issue.level|upper }}
                                        </h4>

                                        <p>{{ issue.message }}</p>
                                    </div>

                                    {% if issue.codeSnippet is not empty %}
                                        <div class="ui attached segment">
                                            <div class="ui top right attached label">
                                                <a class="phpstorm"
                                                   href="http://localhost:8091/?message={{ issue.file }}:{{ issue.line }}">
                                                    <i class="lightning inverted circular icon"></i>
                                                </a>
                                                Line {{ issue.line }}
                                            </div>
                                            {{ issue.codeSnippet|raw }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
